<div class="container">
<div class="row">

<h5 class="text-primary m-t-1 m-b-1">
<a href="https://me.duyetdev.com" target="_blank">
me.duyetdev.com
</a>
</h5>
<ul class="text-danger">
<li>
<a href="http://me.duyetdev.com/resume/index.html" target="_blank">
/ resume
</a>
</li>
<li>
<a href="http://me.duyetdev.com/project/index.html" target="_blank">
/ git-stats
</a>
</li>
<li>
<a href="http://me.duyetdev.com/publications/index.html" target="_blank">
/ publications
</a>
</li>
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://blog.duyetdev.com" target="_blank">
blog.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://page.duyetdev.com" target="_blank">
page.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://rain.duyetdev.com" target="_blank">
rain.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://xmail.duyetdev.com" target="_blank">
xmail.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://todo.duyetdev.com" target="_blank">
todo.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://aframe.duyetdev.com" target="_blank">
aframe.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://arkadia.duyetdev.com" target="_blank">
arkadia.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://arkadia.duyetdev.com" target="_blank">
arkadia.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://kieu.duyetdev.com" target="_blank">
kieu.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://node-delete.duyetdev.com" target="_blank">
node-delete.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://node-style-guide.duyetdev.com" target="_blank">
node-style-guide.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://yesno.duyetdev.com" target="_blank">
yesno.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://notebook.duyetdev.com" target="_blank">
notebook.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://offline.duyetdev.com" target="_blank">
offline.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://siminar-erp.duyetdev.com" target="_blank">
siminar-erp.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://reviews-mining-api.duyetdev.com" target="_blank">
reviews-mining-api.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://static-html-server.duyetdev.com" target="_blank">
static-html-server.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://spheres.duyetdev.com" target="_blank">
spheres.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>

</div>
</div>