<div class="container">
<div class="row">

<h5 class="text-primary m-t-1 m-b-1">
<a href="https://me.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
me.duyet.net
</a>
</h5>
<ul class="text-danger">
<li>
<a href="http://me.duyet.net/resume/index.html?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ resume
</a>
</li>
<li>
<a href="http://me.duyet.net/project/index.html?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ git-stats
</a>
</li>
<li>
<a href="http://me.duyet.net/publications/index.html?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ publications
</a>
</li>
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://blog.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
blog.duyet.net
</a>
</h5>
<ul class="text-danger">
<li>
<a href="https://blog.duyet.net/p/feed.html?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ feed
</a>
</li>
<li>
<a href="https://blog.duyet.net/2014/03/about.html#.VrGS4ex97Qr?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ about
</a>
</li>
<li>
<a href="https://blog.duyet.net/search/label/Git?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ category / Git
</a>
</li>
<li>
<a href="https://blog.duyet.net/search/label/Nodejs?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ category / Nodejs
</a>
</li>
<li>
<a href="https://blog.duyet.net/search/label/Apache%20Spark?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ category / Apache Spark
</a>
</li>
<li>
<a href="https://blog.duyet.net/search/label/javascript?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ category / javascript
</a>
</li>
<li>
<a href="https://blog.duyet.net/search/label/BigData?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ category / BigData
</a>
</li>
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://ask.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
ask.duyetdev.com
</a>
</h5>
<ul class="text-danger">
<li>
<a href="http://ask.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="http://ask.duyetdev.com/ask?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ Ask me anything
</a>
</li>
<li>
<a href="http://ask.duyetdev.com/archive?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ Archive
</a>
</li>
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://demo.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
demo.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://rain.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
rain.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://sql.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
sql.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://sqldesigner.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
sqldesigner.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://aframe.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
aframe.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://arkadia.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
arkadia.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://arkadia.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
arkadia.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://kieu.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
kieu.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://node-style-guide.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
node-style-guide.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://vietnamese-wordlist.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
vietnamese-wordlist.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="https://offline.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
offline.duyet.net
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://talk.duyet.net?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
talk.duyet.net
</a>
</h5>
<ul class="text-danger">
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
<li>
<a href="?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ 
</a>
</li>
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://static-html-server.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
static-html-server.duyetdev.com
</a>
</h5>
<ul class="text-danger">
</ul>
<h5 class="text-primary m-t-1 m-b-1">
<a href="http://spheres.duyetdev.com?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
spheres.duyetdev.com
</a>
</h5>
<ul class="text-danger">
<li>
<a href="http://spheres.duyetdev.com/uit/?utm_source=sitemap.duyetdev.com&utm_medium=sitemap.link&utm_campaign=sitemap.tracker" target="_blank">
/ uit
</a>
</li>
</ul>

</div>
</div>