<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="page-header m-t-1">
            <!-- build:process -->
            <h1><%= pkg.name %></h1>
            <!-- /build -->
        </div>
        <p>Global sitemap duyetdev.com</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- build:process -->
            <div class="osscmnrdr oss-input-div">
                <form class="form-horizontal" id="osssearchform" method="get"
                    autocomplete="off" role="form" action="javascript:;">
                    
                    <input type="hidden" name="use" value="duyetdev" />
                    <input type="hidden" name="name" value="default" />
                    <input type="hidden" name="login" value="duyetdev" />
                    <input type="hidden" name="key" value="<%= oss_api_key %>" />
                    
                    <div class="form-group form-group-lg has-feedback">
                        <input class="form-control input-lg" type="text" id="osssearchbox"
                            name="query" value=""
                            onkeyup="OpenSearchServer.autosuggest(event, duyetdev['oss_server'] + '/autocompletion?use=duyetdev&login=duyetdev&key=<%= oss_api_key %>&name=autocomplete&query=', 'osssearchform', 'osssearchbox', 'ossautocomplete')"
                            autocomplete="off"
                            placeholder="Search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                    
                </form>
                <div style="position: relative">
                    <div id="ossautocomplete" class="osscmnrd" style="position: absolute;"></div>
                </div>
            </div>
            <!-- /build -->
        </div>
    </div>
</div>